html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #A77E58;
}

header {
    background: #80A1C1;
}

.wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}

.grid-wrapper {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.options {
    background: #EEE3AB;
}



.grid {
    display: flex;
    flex-wrap: wrap;
    width: 40vw;
    height: 40vw;
    background: white;
    box-shadow: 0 0 10px hsla(0deg, 0%, 0%, 0.2);
}

.grid .box {
    outline: 1px solid hsla(0, 0%, 75%, 0.2);
}

/* #chk {
    display: none;
} */

.selected.color::after {
    content: 'random';
    display: block;
}

.color::after {
    content: 'black';
    display: block;
}