html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
    justify-content: space-between;
    font-family: Roboto, Helvetica, sans-serif;
    background: #CFFFB3;
}

header {
    padding: 10px 20px;
    background: #3A5743;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.2rem;
    font-style: italic;
    color: white;
    text-align: center;
    outline: 2px dashed hsla(0 50% 100% / 0.5);
    outline-offset: -12px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.grid-wrapper {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 50vw;
    height: 50vw;
    background: white;
    box-shadow: 0 0 10px hsla(0deg, 0%, 0%, 0.2);
}

.grid .box {
    outline: 1px solid hsla(0, 0%, 75%, 0.2);
}

.options {
    background: #3B7080;
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    padding: 50px 20px;
    font-size: 1.3rem;
    font-weight: bold;
    color: beige;
}

.options>div {
    flex: auto;
    text-align: center;
}

.button {
    border: none;
    background: #FCEC52;
    padding: 0.7em;
    border-radius: 5px;
    cursor: pointer;
    min-width: 80px;
}

.button:hover {
    background: #ADE25D;
}

footer {
    padding-bottom: 10px;
    text-align: center;
    font-size: 0.8rem;
    color: beige;
    background: #3B7080;
}